/* Variables test */

$type-heading: 'work sans', sans-serif;
$type-body: 'work sans', sans-serif;

$color-primary: tomato;
$color-link: cornflowerblue;
$color-body: #3a3a3a;


/* Mixins */

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 65em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 45em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37em)  { @content; }
  }
}


/* Helpers */

.alignleft {
  float: left;
  margin-right: 1.618em;
}

.nomb {
  margin-bottom: 0;
}
